<?xml version="1.0" encoding="UTF-8"?>
<server description="Spring boot app server">

    <featureManager>
    <feature>servlet-3.1</feature>
    <feature>springBoot-2.0</feature>
    <feature>transportSecurity-1.0</feature>
    </featureManager>

    <httpEndpoint 
    id="defaultHttpEndpoint" 
    host="*" 
    httpPort="8080"
    httpsPort="9443"
    />
   
    <keyStore id="defaultKeyStore" password="yourPassword"/>

    <springBootApplication 
    id="ldap-tool"
    name="ldap-tool"
    location="ldap-tool.jar"
    /> 

</server>